* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  ---Poppins-: 'Poppins', sans-serif;
  ---Ruluko-:'Ruluko', sans-serif;
  ---Font-size-caract:0.9rem;
  ---Font-size-Number:0.84rem;
  ---Caract-and-Numbers:'Aclonica', sans-serif;
}

.App {
  text-align: center;
  width: 100%;
  height: auto;
}

.Home{
  font-family: var(---Poppins-);
  background-color: whitesmoke;
  height: 83.8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.home-img{
  width: 65%;
  height: 90px;
}

.home-img>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.Home>h2{
  color: rgb(213, 27, 27);
  font-size: 1.8rem;
}

.form-home{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-home{
  padding: 8px;
  border: none;
  border-radius: 3px 0px 0px 3px;
  outline: none;
  font-family: var(---Poppins-);
}

.input-home:hover{
  box-shadow:0px 0px 4px 0px rgba(52, 50, 50, 0.545);
}

.textError{
  color: brown;
}


.button-home{
  width: 50px;
  padding: 6px;
  background-color: red;
  border: none;
  border-radius: 0px 3px 3px 0px;
  font-family: var(---Poppins-);
  font-weight: 600;
  cursor: pointer;
  color: whitesmoke;
}

.button-home:hover{
  box-shadow:0px 0px 5px 1px rgba(218, 104, 104, 0.693);
}

.container-footer{
  width: 100%;
  position: relative;
}

.color-red{
  background-color: red;
  width: 100%;
  height: 40px;
}

.color-black{
  background-color: rgb(2, 2, 2);
  width: 100%;
  height: 30px;
}

.container-bola{
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 50%;
  left: 50%;
  top: 45%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo-blanco{
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo-negro{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo-gris{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: gray;
}

.contain-copy{
  background-color: black;
  height: 31px;
  padding-top: 5px;
}

.copyringht{
  font-family: var(---Ruluko-);
  font-size: 0.9rem;
  color: whitesmoke;
  width: 100vw;
  text-align: center;
}

.Bienvenido {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.container-header{
  width: 100%;
  position: relative;
}

.img-header{
  width: 200px;
  position: absolute;
  left: 3%;
  top: 18.5%;
  transform: translate(18.5%,6%);
}

.color-red-h{
  background-color: red;
  width: 100%;
  height: 50px;
}

.color-black-h{
  background-color: rgb(3, 3, 4);
  width: 100%;
  height: 35px;
}

.container-bola-h{
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: black;
  border-radius: 50%;
  left: 85%;
  top: 110%;
  transform: translate(-110%,-85%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo-blanco-h{
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo-negro-h{
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo-gris-h{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
}







.container-bienvenida {
  width: 100%;
  padding: 0px 20px;
  font-family: var(---Poppins-);
  font-size: var(---Font-size-caract);
  animation: pulse;
  animation-duration: 2s;
}

.coach{
display: flex;
padding: 20px;
justify-content: space-between;
}

.coach>h2>span{
  color: rgba(241, 10, 10, 0.914);
}

.container-select{
  width: 100%;
  display: flex;
  justify-content: center;
}

.from-Select{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-bienvenida{
  padding: 8px;
  border-radius: 3px 3px 3px 3px;
  outline: none;
  border: 1px solid rgba(82, 78, 78, 0.398);
  font-family: var(---Poppins-);
}

.input-bienvenida:hover{
  box-shadow:0px 0px 5px 0px rgba(52, 50, 50, 0.545);
}

.input-bienvenida::placeholder{
  font-family: var(---Poppins-);
}

.input-true{
  padding: 8px;
  border: none;
  border-radius: 3px 3px 3px 3px;
  outline: none;
  box-shadow:0px 0px 5px 0px rgba(196, 43, 43, 0.911);
}

.select-son{
  width: 130px;
  padding: 8px;
  border-radius: 3px 3px 3px 3px;
  outline: none;
  border: 1px solid rgba(82, 78, 78, 0.398);
  font-family: var(---Poppins-);
  color: rgba(28, 27, 27, 0.911);
  background-color: rgba(111, 112, 112, 0.633);
  color: rgb(255, 255, 255);
}

.select-son:hover{
  box-shadow:0px 0px 5px 0px rgba(52, 50, 50, 0.545);
}

.select-son.active{
  box-shadow:0px 0px 5px 0px rgba(196, 43, 43, 0.911);
  color: rgba(8, 8, 8, 0.959);
  background-color: rgb(184, 16, 16);
  color: whitesmoke;
}


.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 10px;
}

.Card {
  width: 240px;
  position: relative;
  padding-top: 7.5rem;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  
}

.container-img {
  width: 130px;
  height:130px;
  position: absolute;
  top: 4%;
  left: calc(50% - 65px);
}

.container-img>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;

}

.container-datos {
  width: 96%;
  height: 98%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3px;
  background-color: rgba(255, 255, 255, 0.942);
  border-radius: 3px 3px 6px 6px;
}

.name-type {
  padding: 10px 0px 0px 0px;
}

.pocke-name{
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pocke-name>h2 {
  font-family: var(---Poppins-);
  font-size: 1.2rem;
}
.name-type>h2::first-letter{
  text-transform: uppercase;
}

.name-type>span{
  font-family: var(---Ruluko-);
  font-size: 1.1rem;
  color: rgba(10, 10, 10, 0.899);
  font-weight: 600;
}

.name-type>p{
 font-family:var(---Poppins-);
 font-size: 0.8rem;
 font-weight: 600;
 color: rgba(19, 17, 17, 0.898);
}

.caracteristicas {
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.poder{
  font-family: var(---Caract-and-Numbers);
  color: rgba(17, 15, 15, 0.889);
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.poder>h4{
  font-size: var(---Font-size-caract);
}

.poder>h4::first-letter{
  text-transform:uppercase;
}

.poder>span{
  font-size: var(---Font-size-Number);
}

.container-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 0px 0px;
  font-size: .94rem;
  gap: .8rem;
}

.pagination-off{
  display: none;
}

.flechas{
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  background-color: red;
  padding: 3px 7px;
  cursor: pointer;
}

.container-numbers{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .9rem;
}

.page-number{
  cursor: pointer;

}

.page-active{
  background-color: red;
  padding: 1px 5px;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(216, 40, 40, 0.849);
}

.contain-load{
  position: absolute;
  
  background-color: blue;
}

.loader{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
} 

.loaderLeft{
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
}

.loaderLeft.animate{
  animation:2s 0.5 forwards linear animationLeft;
}

.loaderRight{
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
}

.loaderRight.animate{
  animation:3s 0.5 forwards linear animationRigth;
}

.loaderBlock-Red{
  width: 60%; 
  background-color: red;
}

.loaderBlock-Black{
  width: 43%;
  background-color: rgb(3, 3, 3);
  position: relative;
  overflow: hidden;
}

.circle-Left{
  position: absolute;
  top: calc(50% - 50px);
  width: 200%;
  height: 22%;
  left: 0%;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-Rigth{
  position: absolute;
  top: calc(50% - 50px);
  width: 200%;
  height:22%;
  right: 0%;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linea1{
  width: 100%;
  height: 100%;
  border-right: 1px solid white;
}

.linea2{
  width: 100%;
  height: 100%;
  border-left: 1px solid white;
}

.circle-White{
  width: 70%;
  height: 70%;
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-Black{
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-Gray{
  width: 60%;
  height: 60%;
  background-color: gray;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@keyframes animationLeft {

  0%{right: 0;}
  25%{right: 71px;}
  60%{right: 142px;}
  75%{right: 253px;}
  100%{right: 324px;}
}

@keyframes animationRigth {

  0%{left: 0;}
  25%{left: 71px;}
  60%{left: 142px;}
  75%{left: 253px;}
  100%{left: 324px;}
}


@media screen and (max-width:541px) {
  .Card {
    width: 180px;
  }

  .from-Select{
    width: 100%;
  }

  .input-bienvenida{
    width: 178px;
  }
}